<!DOCTYPE html>
<html lang="en" ng-app="steamLogin">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="controllers/userController.js"></script>
    <script src="controllers/authController.js"></script>
    <script src="controllers/invController.js"></script>
    <script src="services/invService.js"></script>
    <script src="services/userService.js"></script>
    <script src="core.js"></script>
</head>
<body>

<a href='/'><- Back</a></br></br>
<div class="container" ng-controller="mainInvController">
    <div class="spinner" ng-hide="invReady">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div class="row" ng-repeat="item in inventory" ng-if="$index % 6 == 0">
        <div class="two columns"><img class="u-max-full-width" src="http://cdn.steamcommunity.com/economy/image/{{inventory[$index].icon_url}}" title="{{inventory[$index].market_name}}"/></div>
        <div class="two columns" ng-if="inventory.length > ($index + 1)"><img class="u-max-full-width" src="http://cdn.steamcommunity.com/economy/image/{{inventory[$index + 1].icon_url}}" title="{{inventory[$index + 1].market_name}}"/></div>
        <div class="two columns" ng-if="inventory.length > ($index + 2)"><img class="u-max-full-width" src="http://cdn.steamcommunity.com/economy/image/{{inventory[$index + 2].icon_url}}" title="{{inventory[$index + 2].market_name}}"/></div>
        <div class="two columns" ng-if="inventory.length > ($index + 3)"><img class="u-max-full-width" src="http://cdn.steamcommunity.com/economy/image/{{inventory[$index + 3].icon_url}}" title="{{inventory[$index + 3].market_name}}"/></div>
        <div class="two columns" ng-if="inventory.length > ($index + 4)"><img class="u-max-full-width" src="http://cdn.steamcommunity.com/economy/image/{{inventory[$index + 4].icon_url}}" title="{{inventory[$index + 4].market_name}}"/></div>
        <div class="two columns" ng-if="inventory.length > ($index + 5)"><img class="u-max-full-width" src="http://cdn.steamcommunity.com/economy/image/{{inventory[$index + 5].icon_url}}" title="{{inventory[$index + 5].market_name}}"/></div>
    </div>
</div>

</body>
</html>